@font-face {
    font-family:'Georgia';
    src: url(../../assets/fonts/georgia/georgia-regular.ttf);
    font-style: normal;
}

@font-face {
   font-family:'Arial' ;
   src: url(../../assets/fonts/arial/arial-regular.ttf);
   font-style: normal;
}