.caorusel__wrapper {
    width: 990px;
    overflow: hidden;
}
@keyframes moveleft {
    from{left: 0} ;
    to{left: calc(3 * -360px) }
}
.moveleft{
    animation: moveleft 2s linear;
}

@keyframes moveright {
    from{right: 0} ;
    to{right: -360px }
}
.moveright{
    animation: moveright 2s linear;
}