.burger {
    width: 3.0rem;
    height: 2.2rem;
    font-size: 0;
    background-image: url(../../assets/icons/Burger.svg);
    display: none; 

    @include media-mobile{
        display: flex;
        align-self: center;
    }
}
.pets-burger{
    width: 3.0rem;
    height: 2.2rem;
    font-size: 0;
    background-image: url(../../assets/icons/Pets-Burger.svg);
    display: none;

    @include media-mobile{
        display: flex;
        align-self: center;
    }

}
.burger_normal-pos{
    transform: rotate(0deg);
}

.burger_active-pos{
    transform: rotate(90deg);
}

@keyframes burger_rot{
    from {transform: rotate(0deg)}
    to {transform: rotate(-90deg)}
}
.burger_direct-rotate {
    animation: burger_rot .5s linear ;
}

.burger_reverse-rotate{
    animation: burger_rot .5s linear ;
    animation-direction: reverse;
}