.round_btn, .nav__link {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

h1, .logo_title, h2, h3, h4, h5, .btn, .btn_reverse, .card__description {
  font-family: "Georgia";
}

.logo_subtitle, .paragraph_l, .donation_text {
  font-family: "Arial";
}

.about_position, .our-friends__conteiner, .help-title, .donation_conteiner {
  padding-top: 80px;
}

html {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  background-color: #B2B2B2;
}

a, p {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, .logo_title {
  font-size: 3.2rem;
  line-height: 3.52rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.logo_subtitle {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding-left: 4px;
}

h2 {
  font-size: 4.4rem;
  line-height: 130%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

h3 {
  font-size: 3.5rem;
  line-height: 130%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 2rem;
  line-height: 115%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 1.5rem;
  line-height: 110%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.paragraph_l {
  font-size: 1.5rem;
  line-height: 160%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.color-primary {
  color: #F1CDB3;
}

.color-primary-light {
  color: #FDDCC4;
}

.color-dark-3xl {
  color: #292929;
}

.color-dark-2xl {
  color: #444444;
}

.color-dark-xl {
  color: #4C4C4C;
}

.color-dark-l {
  color: #545454;
}

.color-dark-m {
  color: #B2B2B2;
}

.color-dark-s {
  color: #CDCDCD;
}

.color-light-s {
  color: #FAFAFA;
}

.color-light-l {
  color: #F6F6F6;
}

.color-light-xl {
  color: #ffffff;
}

.btn {
  width: 187px;
  height: 52px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7rem;
  line-height: 130%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
  background-color: #F1CDB3;
  border-radius: 100px;
  text-decoration: none;
}

.btn:hover {
  background-color: #FDDCC4;
}

.btn_reverse {
  width: 187px;
  height: 52px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7rem;
  line-height: 130%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
  border: 2px solid #F1CDB3;
  background-color: #FAFAFA;
  border-radius: 100px;
  text-decoration: none;
}

.btn_reverse:hover {
  background-color: #F1CDB3;
}

.round_btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 52px;
  height: 52px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
}

.round_btn:hover {
  background-color: #F1CDB3;
  cursor: pointer;
}

.pets-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
}

.pets-card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #ffffff;
}

.pets-card:hover .btn_reverse {
  background: #F1CDB3;
}

.card__background {
  text-align: center;
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0 0;
  font-size: 0px;
}

.card__info {
  padding-top: 30px;
  text-align: center;
  height: calc(435px - 270px);
  border-radius: 0 0 9px 9px;
}

.card__description {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 2.3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
}

.card-btn_pos {
  margin-top: 30px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.0rem;
}

.title_color {
  color: #F1CDB3;
}

.subtitle_color {
  color: #ffffff;
}

.help-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 113px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-conteiner__image {
  font-size: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  max-width: 1280px;
}

.header_abspos {
  margin-top: 60px;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.header_fixpos {
  position: fixed;
  background: #ffffff;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start_btn {
  margin-top: 42px;
}

.navigation {
  margin-top: 16px;
  width: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.nav__link {
  text-decoration: none;
  border-bottom: 0px solid #F1CDB3;
}

.nav__link.active {
  border-bottom: 3px solid #F1CDB3;
}

.nav__link:hover {
  color: #FAFAFA;
}

.start-screen {
  width: 100%;
  background: url(../assets/images/start-screen-gradient-background.png) center no-repeat;
  background-size: cover;
}

.start-screen__container {
  width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 180px;
}

.start-text {
  margin-top: 163px;
  width: 460px;
  height: 322px;
}

.start-text_subtitle {
  margin-top: 42px;
  width: 460px;
}

.start-image {
  font-size: 0px;
}

.about {
  width: 100%;
  background-color: #ffffff;
}

.about__conteiner {
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_position {
  margin: 0 auto;
  padding-bottom: 100px;
}

.about_pet {
  font-size: 0px;
}

.about__content {
  padding-top: 14px;
  width: 430px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.our-friends {
  width: 100%;
  height: 877px;
  background: #F6F6F6;
}

.our-friends__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.our-friends-heading {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.our-friends__slicer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 53px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
}

.how-help {
  width: 100%;
  background: #ffffff;
}

.help-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.help-list {
  margin: 60px auto 0 auto;
  width: 1030px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 55px;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  padding-bottom: 100px;
}

.help-list :nth-child(6) {
  padding-left: 84px;
}

.help-list :nth-child(9) {
  padding-right: 84px;
}

.donation {
  width: 100%;
  background: #F6F6F6;
}

.donation_conteiner {
  margin: 0 auto;
  width: 91.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.0rem;
  padding-bottom: 100px;
}

.donation_conteiner_image {
  padding-top: 11px;
}

.donation_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 282px;
  gap: 20px;
}

.bank_card_number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
}

.bank_card_number:hover {
  background: #FDDCC4;
}

.donation_text {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  color: #B2B2B2;
}

.donation_description {
  height: 72px;
  width: 385px;
}

/**Footer**/
footer {
  width: 100%;
  height: 350px;
  background-image: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.footer_conteiner {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  height: auto;
}

.foot_title {
  color: #FFFFFF;
}

.contacts {
  padding-top: 16px;
  width: 279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.email_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.email_image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
}

.email_text {
  color: #F1CDB3;
}

.telephone_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.adress {
  padding-top: 16px;
  width: 302px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 33px;
}

.footer_image_container {
  width: 300px;
  height: 310px;
  background-image: url(../assets/images/footer-puppy.png);
}
/*# sourceMappingURL=style.css.map */