.how-help{

    width: 100%;
    background: $color-light-xl;
}
.help-title{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    @extend %top-space;
}
.help-list{
    margin: 60px auto 0 auto;
    width: 1030px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 120px;
    padding-bottom: 100px;


    :nth-child(6){
      padding-left: 84px;  
    }

    :nth-child(9){
        padding-right: 84px;  
      }
}